.homepage-container {
    padding: 20px;
}

.homepage-container h1{
    font-weight: bolder;
}
.homepage-container a{
    /* text-decoration: none; */
    font-weight: bold;
    color: rgb(84, 57, 164);
}

.homepage-container h1{
    text-align: center;
}

.instruments-table-container {
    width: 100%;
    border-collapse: collapse;
    background-color: #cecece;
    max-width:70%;
    justify-self: center;
    overflow-x: auto;
}

.instruments-table{
    width:100%
}
.instruments-table th, .instruments-table td {
    border: 2px solid #cecece; 
    padding: 8px;
    text-align: left;
}

.instruments-table th {
    background-color: rgb(126, 85, 246);
    color:white;
}

.instruments-table tr{
    color: rgb(84, 57, 164);
}

.crunchbase-logo-container{
    margin:0 15%;
    padding-right:0;
    text-align: right;
}

.crunchbase-logo-container img{
    height: 3rem;
}

.pagination {
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
  
.pagination button {
margin: 0 10px;
padding: 8px 16px;
min-width: 7rem;
border:none
}
  

@media (max-width: 480px) {
    .homepage-container {
        padding: 5px;
    }

    .instruments-table-container {
        width: 90%;
        margin-left:5%;
        border-collapse: collapse;
        background-color: #cecece;
        max-width:100%;
        justify-self:flex-start;
    }

    .instruments-table {
        padding:5px;
        overflow: visible!important;
    }

    .instruments-table th, .instruments-table td {
        border: 1px solid #cecece; 
        padding: 0px 3px 3px 3px;
        text-align:left;
    }

    .crunchbase-logo-container{
        margin:0 5%;
        padding-right:0;
        text-align: right;
    }
}