.home-before-login-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 100vh;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2); /* Dim the video with a dark tone */
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
    z-index: -1;
}
.company-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    margin-top:0;
}

.content-overlay {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.user-roles-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
}

.user-role-box {
    width: 30%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.6); /* Slight background to improve text visibility */
    color: #fff;
}


.login-signup-container{
    margin:0 40%;
    width: 20%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.login-signup-container button{
    width: 7rem;
    /* margin:2rem; */
}

.company-description{
    max-width: 60%;
    align-items: center;
    position:relative;
    left:20%
}

.user-roles-container{
    max-width: 80%;
    position:relative;
    left:10%
}

li {
    text-align: left;
}