[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
jinja2 = "*"
flask-login = "*"
werkzeug = "*"
sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
pytest = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
click = "*"
flask-cors = "*"
greenlet = "*"
gunicorn = "*"
importlib-metadata = "*"
itsdangerous = "*"
mako = "*"
markupsafe = "*"
python-dateutil = "*"
python-editor = "*"
six = "*"
zipp = "*"
openbb = "*"
canvas = "*"
pytz = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
rope = "*"

[requires]
python_version = "3.12"
