.dashboard-container h1{
    text-align: center;
}

.std-controller{
    display:flex;
    flex-direction: column;
    margin:2% 20%;
}


.std-controller-head-banner{
    background-color: rgb(126, 85, 246);
    border-radius:30px 0px 30px 0px;
    width: 30%;
    margin-left:0;
    height: 3rem;
    display: flex;
    align-items: center;  
    justify-content: center;
    position: relative;
    animation: slideLeft 1s ease-out forwards;
}

@keyframes slideLeft {
    0% {
        left: 0; /* Initial position */
    }
    100% {
        left: -20px; /* Move it 20 pixels to the left */
    }
}

.std-controller-head-banner h3{
    text-align: center;
}

.std-controller-body{
    min-height: 5rem;
    margin-left: 5%;
    margin-top:1%;
    background: #cecece;
    border-radius:30px 0px 30px 0px;
    position: relative;
    animation: slideRight 1s ease-out forwards;
}

@keyframes slideRight {
    0% {
        right: 0; /* Initial position */
    }
    100% {
        right: -20px; /* Move it 20 pixels to the left */
    }
}

.std-info-box p{
    margin:0 5%;
}

.std-info-box h3, a{
    text-align: center;
    color:rgb(126, 85, 246);
}

.std-info-table{
    margin: 2% 5%;
}

.std-info-table td{
    padding :0.2rem 0.8rem;
}

.std-info-heading {
    font-weight: bold;
    color: rgb(126, 85, 246);
    
}
.std-info-content {
    color:  rgb(126, 126, 126);
}

.funding-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:2rem 0;
    width: auto;
}

.funding-buttons button{
    border-radius: 3px;
    min-width: 10rem;
}

.deactivate-account-button{
    background-color: transparent;
    color: rgb(126, 126, 126)
}

.deactivate-account-button:hover{
    background-color: transparent;
    color: red
}