.delete-modal-container{
    border-radius: 1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
}


.delete-modal-container > h1{
    font-size:2rem;
    margin : 1rem 5rem;
    color: rgb(126, 85, 246);
    padding:0;
}

.funding-amount-input-container>input{
    background-color: white;
    border-radius: 3px;
    color: rgb(84, 57, 164);
    font-weight: bolder;
    padding: 1rem;
    margin-left:1rem;
}

.explanation-note{
    margin:0 5%;
    font-size:1.2rem;
    color: rgb(126, 85, 246);
    text-align: center;
    padding:0;
}


.explanation-note >.warning{
    font-style: italic;
    font-size:0.9rem;
    color: rgb(223,49,49);
    text-align: center;
    margin:0 10%;
    padding:0;
}

.yes-or-no-buttons{
    display:flex;
    flex-direction: row;
    margin:0.5rem 10%;
}

.delete-yes, .delete-no {
    width: 8rem;
    margin: 0 1rem;
    min-width:10rem;
    border-radius: 2px;
}

.delete-yes:disabled{
    background-color:rgb(126, 126, 126);
    color:black
}


@media (max-width: 480px) {
    .delete-modal-container{
        border:1px red solid;
    }

    .delete-modal-container h1{
        font-size: 1.4rem;
    }


}