.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgb(0,0,0,0.5); 
  padding:0.5rem 4rem;
}

.profile-dropdown {
  position: absolute;
}

.logo *{
  font-size: 3rem;
  color:white;
}


.profile-button{
  border:1px  rgb(126, 85, 246) solid;
  border-radius: 50%;
  width: 2rem;
  height:2rem;
  background-color: transparent;
}

.search-results-dropdown {
  position: absolute;
  top:5rem;
  background-color: #cecece;
  color: rgb(126, 85, 246);
  border: none;
  border-radius: 3px;
  width: 32%; 
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  border: 1px white solid;
  cursor: pointer;
}

.search-result-item:hover{
  background-color: rgb(126, 85, 246) ;
  color:white
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  height: 32px;
  width: 35%;
  padding:0;
}

.search-bar-container svg {
  margin-left: 5px;
  color: grey;
  font-size: 20px;
}

.search-bar-container input {
  border: none;
  height: 100%;
  outline: none;
  background-color: transparent; 
  color: white;
  width: 100%;
}

.search-bar-container-hidden{
  display:none
}

.search-results-dropdown{
  border: 1px white solid;
}

/* Following are for the profile button dropdown menu*/

.profile-dropdown{
  border: 1px  #cecece solid;
  border-radius: 5px;
  padding:0.5rem 1rem;
  background-color: white;
  position: absolute;
  right:2%
}
.profile-dropdown > li {
  list-style-type: none;
  padding: 0.25rem;
  color:rgb(126, 85, 246);
}

.profile-list-item-with-icon:hover{
  color:rgb(126, 85, 246);
  background-color: #cecece;
  width:100%
}

.profile-list-item-with-icon>button:hover{
  color:  rgb(84, 57, 164);
  background-color: transparent;
}



.profile-list-item-with-icon{
  border-top: 1px #cecece solid;
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.profile-list-item-with-icon * {
  background-color: transparent;
  color: rgb(126, 85, 246,1);
  border:none
}