.instrument-detail-page h1, h2, h3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.detail-page-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:4rem;
    margin-top:0;
    margin-bottom: 0;
}

.simple-buddy-button{
    height:4rem;
    width:4rem;
    padding:0;
    margin-left: 2rem;
    border-radius: 50%;
    background: linear-gradient(135deg, #89fffd, #ef32d9); 
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.simple-buddy-button:hover {
    border-radius: 50%;
    
    color:  rgb(89, 26, 235);
    box-shadow: 0px 0px 15px rgba(89, 26, 235, 0.6);
}

.simple-buddy-button svg{
    width:55%;
    height:55%
}

#company_name_logo_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company_logo{
    width:2rem;
    height: 2rem;
    margin-right:0.5rem;
}

.instrument-details{
    border:2px white solid;
    margin :1% 10%;
    border-radius: 5px;
    padding-left:2rem;
}

.instrument-details-table td, .company-details-table td, .price-summary{
    padding-left:10px
}

.price-summary {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}
.price-summary *{
    margin-right:2rem;
}

.action-buttons{
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.action-buttons button{
    border-radius: 2px;
    padding:3px;
    min-height: 2rem;
    width: 8rem;
}







/*For Offer and Listing Section*/
.current-user-listing-offer h3{
    margin:0% 10%;
    padding:0;
    text-align: center;
}


.offer-listing-outer-container{
    display: flex;
    flex-direction: row;
    margin: 2% 10%;
    justify-content: space-evenly;
}


.offers-listing-table-container{
    border: 1px white solid;
    width:50%;
    border-radius: 5px;
}

.offer-or-listing-table{
    width:100%;
    overflow: auto;
    max-height: 400px;
}

.offer-or-listing-table th{
    background:#cecece;
    color:#4b0082;
}

.offer-or-listing-table td{
    text-align: right;
}